body {
  padding-top: 30px;
  @media (max-width: 650px) {
    padding-top: 20px;
  }
}

main {
  padding-left: 70px;
  padding-right: 70px;
  @media (max-width: 650px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
