.logement_article {
  .logement_article_wrapper {
    margin: 50px auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 500;
    color: $mainColor;
    .logement_article_info {
      h1 {
        font-weight: 500;

        margin: 0;
        font-size: 36px;
      }
      .logement_article_info_location {
        font-size: 18px;
      }
      .logement_article_tags {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        row-gap: 15px;
      }
    }
    .logement_article_userInfo {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .logement_article_userInfo_host {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        h3 {
          font-size: 18px;
          font-weight: 500;
        }
        img {
          width: 64px;
          border-radius: 50%;
          margin-left: 10px;
        }
      }
    }
  }
  .logement_article_other {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .logement_article_other_wrapper {
      width: 45%;
    }
  }
}
