@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
* {
  font-family: "Montserrat";
}

body {
  padding-top: 30px;
}
@media (max-width: 650px) {
  body {
    padding-top: 20px;
  }
}

main {
  padding-left: 70px;
  padding-right: 70px;
}
@media (max-width: 650px) {
  main {
    padding-left: 15px;
    padding-right: 15px;
  }
}

header {
  display: flex;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 50px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 650px) {
  header {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
  }
}
header .header_logo {
  display: flex;
  align-items: end;
}
header .header_logo img {
  height: 39px;
  width: 33px;
  width: auto;
  margin: 0 4px;
}
header .header_logo img:nth-child(1) {
  height: 62px;
  width: 54px;
  width: auto;
}
header .header_logo img:nth-child(2) {
  position: relative;
  top: 8px;
  height: 53px;
  width: 46px;
}
@media (max-width: 650px) {
  header .header_logo img {
    height: 33px;
    width: 28px;
    margin: 0 4px;
  }
  header .header_logo img:nth-child(1) {
    height: 48px;
    width: 42px;
  }
  header .header_logo img:nth-child(2) {
    position: relative;
    top: 8px;
    height: 37px;
    width: 32px;
  }
}
header nav {
  display: flex;
  justify-content: space-around;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
header nav a {
  color: #ff6060;
  font-size: 24px;
  font-weight: 500;
  text-align: right;
  text-decoration: none;
}
header nav a:hover {
  text-decoration: underline;
}
@media (max-width: 650px) {
  header nav {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  header nav a {
    font-size: 20px;
  }
}
@media (max-width: 650px) and (max-width: 390px) {
  header nav a {
    font-size: 18px;
  }
}
@media (max-width: 650px) and (max-width: 375px) {
  header nav a {
    font-size: 12px;
  }
}

footer {
  background-color: black;
  width: 100%;
  height: 209px;
  flex-direction: column;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
footer .logo {
  width: 140px;
  height: 40px;
}
footer .logo img {
  filter: grayscale(100%) brightness(200%);
  height: 28px;
  width: 24px;
  margin: 0 4px;
}
footer .logo img:nth-child(1) {
  height: 36px;
  width: 31px;
}
footer .logo img:nth-child(2) {
  position: relative;
  top: 8px;
  height: 31px;
  width: 25px;
}
footer p {
  color: white;
}

.banner {
  max-height: 220px;
  position: relative;
  overflow: hidden;
  border-radius: 25px;
  display: grid;
  place-items: center;
}
.banner > * {
  grid-area: 1/1;
}
@media (max-width: 650px) {
  .banner {
    max-height: 110px;
    border-radius: 10px;
  }
}
.banner .banner_background {
  height: 100%;
  width: 100%;
}
.banner .banner_background img {
  width: 100%;
  max-height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 650px) {
  .banner .banner_background img {
    max-height: 110px;
  }
}
.banner .banner_background::after {
  content: "";
  background: rgba(0, 0, 0, 0.35);
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.banner h1 {
  text-align: center;
  color: white;
  font-weight: 500;
  font-size: 48px;
  z-index: 3;
}
@media (max-width: 650px) {
  .banner h1 {
    font-size: 24px;
  }
}

@media (max-width: 650px) {
  .sectionGallery_card {
    width: 100%;
  }
}
.sectionGallery_card a {
  display: block;
  height: 340px;
  width: 340px;
  overflow: hidden;
  position: relative;
}
@media (max-width: 650px) {
  .sectionGallery_card a {
    width: 100%;
  }
}
.sectionGallery_card a .sectionGallery_card_img::after {
  content: "";
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  position: absolute;
  opacity: 1;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.sectionGallery_card a .sectionGallery_card_img img {
  width: 340px;
  height: 340px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.5s;
}
@media (max-width: 650px) {
  .sectionGallery_card a .sectionGallery_card_img img {
    width: 100%;
  }
}
.sectionGallery_card a p {
  font-size: 18px;
  width: 300px;
  color: white;
  position: absolute;
  z-index: 99;
  bottom: 0px;
  left: 20px;
}
.sectionGallery {
  border-radius: 25px;
  background-color: #f6f6f6;
  margin: 60px auto;
  padding: 40px;
}
@media (max-width: 650px) {
  .sectionGallery {
    margin: 20px auto;
    padding: 0;
  }
}
.sectionGallery ul {
  padding: 0;
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 40px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}
@media (max-width: 650px) {
  .sectionGallery ul {
    row-gap: 20px;
    width: 100%;
  }
}
.sectionGallery ul li {
  transition: transform 0.5s, box-shadow 0.5s;
  border-radius: 10px;
  overflow: hidden;
}
.sectionGallery ul li:hover {
  transform: scale(105%);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px;
}
.sectionGallery ul li:hover .sectionGallery_card_img::after {
  transition: opacity 0.5s;
  opacity: 0.3;
}
.sectionGallery ul li:hover .sectionGallery_card_img img {
  transform: scale(130%);
}

.about_info {
  margin: 20px auto 100px;
  width: 80%;
}
@media (max-width: 650px) {
  .about_info {
    width: 100%;
  }
}

.dropdown_box {
  position: relative;
  overflow: hidden;
  margin-bottom: 40px;
}
.dropdown_box .dropdown_box_h2 {
  display: flex;
  position: relative;
}
.dropdown_box .dropdown_box_h2 h2 {
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  background-color: #ff6060;
  color: white;
  height: 47px;
  font-weight: 500;
  border-radius: 10px;
  padding-left: 20px;
}
@media (max-width: 650px) {
  .dropdown_box .dropdown_box_h2 h2 {
    height: 40px;
    font-size: 20px;
  }
}
.dropdown_box .dropdown_box_h2 img {
  position: absolute;
  margin: auto;
  top: 40%;
  right: 10px;
  width: 24px;
}
@media (max-width: 650px) {
  .dropdown_box .dropdown_box_h2 img {
    width: 18px;
  }
}
.dropdown_box .dropdown_box_h2 .reverse_arrow {
  transform: rotate(180deg);
}
.dropdown_box .dropdown_box_content {
  margin: 0;
  padding: 35px 20px 25px;
  display: block;
  background-color: #f6f6f6;
  color: #ff6060;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  border-radius: 10px;
  position: absolute;
  z-index: -1;
}
@media (max-width: 650px) {
  .dropdown_box .dropdown_box_content {
    padding: 35px 10px 25px;
    font-size: 18px;
    line-height: 27px;
  }
}
.dropdown_box .dropdown_box_content p {
  margin: 0;
}
.dropdown_box .dropdown_box_content li {
  list-style-type: none;
}

.open .dropdown_box_content {
  animation-name: DropdownOpen;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  top: -20px;
  position: relative;
}

.close .dropdown_box_content {
  animation-name: DropdownClose;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.errorComponent {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ff6060;
}
.errorComponent .errorComponent_number {
  font-weight: 700;
  font-size: 228px;
  margin: 0;
}
@media (max-width: 650px) {
  .errorComponent .errorComponent_number {
    font-size: 90px;
  }
}
.errorComponent .errorComponent_text {
  font-size: 40px;
  text-align: center;
}
@media (max-width: 650px) {
  .errorComponent .errorComponent_text {
    font-size: 20px;
  }
}
.errorComponent .errorComponent_link {
  margin-top: 100px;
  font-size: 20px;
  text-align: center;
}
@media (max-width: 650px) {
  .errorComponent .errorComponent_link {
    font-size: 16px;
  }
}
.errorComponent a:visited {
  color: #ff6060;
}

.logement .logement_img {
  border-radius: 25px;
  height: 415px;
  overflow: hidden;
}
@media (max-width: 650px) {
  .logement .logement_img {
    height: 255px;
  }
}

.logement_img_caroussel {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.logement_img_caroussel img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.logement_img_caroussel .logement_img_number {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: white;
  position: absolute;
  width: 100%;
  bottom: 10px;
}
.logement_img_caroussel .logement_img_number p {
  text-align: center;
}
.logement_img_caroussel .caroussel_arrow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  height: 100%;
}
.logement_img_caroussel .caroussel_arrow img {
  height: 80px;
  width: 48px;
}
@media (max-width: 650px) {
  .logement_img_caroussel .caroussel_arrow img {
    height: 20px;
    width: 12px;
  }
}
.logement_img_caroussel .caroussel_arrow img:hover {
  cursor: pointer;
}
.logement_img_caroussel .arrow_after {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.646));
  right: 0px;
}
.logement_img_caroussel .arrow_before {
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.646));
  left: 0px;
}

.logement_section .logement_article_wrapper {
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 500;
  color: #ff6060;
}
@media (max-width: 650px) {
  .logement_section .logement_article_wrapper {
    margin: 30px auto;
    flex-direction: column;
  }
}
.logement_section .logement_article_wrapper .logement_article_info h1 {
  font-weight: 500;
  margin: 0;
  font-size: 36px;
}
@media (max-width: 650px) {
  .logement_section .logement_article_wrapper .logement_article_info h1 {
    font-size: 25px;
  }
}
.logement_section .logement_article_wrapper .logement_article_info .logement_article_info_location {
  font-size: 18px;
}
@media (max-width: 650px) {
  .logement_section .logement_article_wrapper .logement_article_info .logement_article_info_location {
    font-size: 16px;
  }
}
.logement_section .logement_article_wrapper .logement_article_info .logement_article_tags {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 15px;
}
.logement_section .logement_article_wrapper .logement_article_userInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 650px) {
  .logement_section .logement_article_wrapper .logement_article_userInfo {
    margin-top: 20px;
    flex-direction: row-reverse;
  }
}
.logement_section .logement_article_wrapper .logement_article_userInfo .logement_article_userInfo_host {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.logement_section .logement_article_wrapper .logement_article_userInfo .logement_article_userInfo_host h2 {
  font-size: 18px;
  font-weight: 500;
}
.logement_section .logement_article_wrapper .logement_article_userInfo .logement_article_userInfo_host img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-left: 10px;
}
.logement_section .logement_article_other {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 650px) {
  .logement_section .logement_article_other {
    flex-direction: column;
  }
}
.logement_section .logement_article_other .logement_article_other_wrapper {
  width: 45%;
}
@media (max-width: 650px) {
  .logement_section .logement_article_other .logement_article_other_wrapper {
    width: 100%;
  }
}

.logement_tag_wrapper {
  background-color: #ff6060;
  width: -moz-fit-content;
  width: fit-content;
  height: 25px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.logement_tag_wrapper p {
  color: white;
  font-size: 14px;
  text-align: center;
  margin: auto 10px;
}

@media (max-width: 650px) {
  .logement_article_userInfo_rating {
    display: flex;
  }
}
.logement_article_userInfo_rating img {
  margin: auto 2px;
  width: 36px;
  height: 36px;
}
@media (max-width: 650px) {
  .logement_article_userInfo_rating img {
    width: 28px;
    height: 28px;
  }
}
@media (max-width: 330px) {
  .logement_article_userInfo_rating img {
    width: 25px;
    height: 28px;
  }
}

@keyframes DropdownOpen {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes DropdownClose {
  0% {
    transform: translateY(0);
    position: relative;
  }
  30% {
    transform: translateY(-100%);
  }
  100% {
    position: absolute;
  }
}/*# sourceMappingURL=index.css.map */