.sectionGallery_card {
  @media (max-width: 650px) {
    width: 100%;
  }
  a {
    display: block;
    height: 340px;
    width: 340px;
    overflow: hidden;
    position: relative;
    @media (max-width: 650px) {
      width: 100%;
    }
    .sectionGallery_card_img {
      &::after {
        content: "";
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
        position: absolute;
        opacity: 1;

        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
      img {
        width: 340px;
        height: 340px;
        object-fit: cover;
        @media (max-width: 650px) {
          width: 100%;
        }
      }
    }

    p {
      font-size: 18px;
      width: 300px;
      color: white;
      position: absolute;
      z-index: 99;
      bottom: 0px;
      left: 20px;
      @media (max-width: 650px) {
      }
    }
  }
}
