.sectionGallery {
  width: 1240px;
  border-radius: 25px;
  background-color: #f6f6f6;
  margin: 60px auto;
  ul {
    padding: 15px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
  }
}
