.sectionGallery {
  border-radius: 25px;
  background-color: #f6f6f6;
  margin: 60px auto;
  padding: 40px;
  @media (max-width: 650px) {
    margin: 20px auto;
    padding: 0;
  }
  ul {
    padding: 0;
    display: flex;
    column-gap: 40px;
    row-gap: 40px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    @media (max-width: 650px) {
      row-gap: 20px;
      width: 100%;
    }
  }
}
