.sectionGallery {
  border-radius: 25px;
  background-color: #f6f6f6;
  margin: 60px auto;
  padding: 40px;
  @media (max-width: 650px) {
    margin: 20px auto;
    padding: 0;
  }
  ul {
    padding: 0;
    display: flex;
    column-gap: 40px;
    row-gap: 40px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    @media (max-width: 650px) {
      row-gap: 20px;
      width: 100%;
    }
    li {
      transition: transform 0.5s, box-shadow 0.5s;
      border-radius: 10px;
      overflow: hidden;

      &:hover {
        transform: scale(105%);
        box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px;
        & .sectionGallery_card_img::after {
          transition: opacity 0.5s;

          opacity: 0.3;
        }
        & .sectionGallery_card_img img {
          transition: transform 0.5s;
          transform: scale(130%);
        }
      }
    }
  }
}
